rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /spotify_access_tokens/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
  }
}